<!doctype html>
<html>
  <!-- <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>InstaChange Uploaded</title>
  </head> -->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootswatch.css" media="screen">
    <title>InstaChange Result</title>
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
      <img src="{{ storage_path }}/InstaChange_logo2.png" alt="InstaChange">
    </nav>
    <div class="container" style="padding:20px 0 0 0">
      <div class="row">
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<h3>Your {{ meals }} is ${{ costs }} and {{ calories }} cal. with {% for tag in tags %} #{{ tag }} {% endfor %}</h3><br>
		<h2><b>You saved ${{ changes }} change!</h2>
          <div>
            <img src="{{ storage_path }}/{{ filename }}" style="max-width: 100%">
          </div>          
          <!-- <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <table class="table">
                  <thead class="thead-inverse">
                    <tr>
                      <th>Tag</th>
                      <th>Cost</th>
                      <th>Calorie</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for tag in tags %} 
                      <tr>
                        <td>#{{ tag }}</td>
                        <td>${{ cost }}</td>
                        <td>{{ calorie }} cal.</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tbody>
                    <tr>
                      <td>Total</td>
                      <td>${{ costs }}</td>
                      <td>{{ calories }} cal.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div> -->
         <div>
	     - Share on <a href=http://instagram.com/ >Instagram <img src="{{ storage_path }}/instagram_l.png"></a>
         </div>
         <br/>
         <div>
           <form action={{ url_for('photos') }}>
           <input type=submit value='Back to Insta Summary'>
           </form>
         </div>
      </div>
    </div>
  </body>
</html>
